<div class="container">
   <h2>Hard & Soft Skills</h2>
     <div class="row Hard Skills">
       <div class="col-4">
         <circle-progress
          [percent]="85"
          [radius]="85"
          [imageSrc]="'../assets/html.png'"
          [imageHeight]="65"
          [imageWidth]="80"
          [showImage]="true"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'#981CEB'"
          [innerStrokeColor]="'#D29DFB'"
          [animation]="true"
          [animationDuration]="700"
          [responsive]="true"
         ></circle-progress>
       </div>
      <div class="col-4">
         <circle-progress
          [percent]="65"
          [radius]="85"
          [imageSrc]="'../assets/CSS.png'"
          [imageHeight]="80"
          [imageWidth]="70"
          [showImage]="true"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'#981CEB'"
          [innerStrokeColor]="'#D29DFB'"
          [animation]="true"
          [animationDuration]="700"
          [responsive]="true"
          ></circle-progress>
       </div>
      <div class="col-4">
         <circle-progress
          [percent]="55"
          [radius]="85"
          [imageSrc]="'../assets/js.png'"
          [imageHeight]="67"
          [imageWidth]="70"
          [showImage]="true"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'#981CEB'"
          [innerStrokeColor]="'#D29DFB'"
          [animation]="true"
          [animationDuration]="700"
          [responsive]="true"
         ></circle-progress>
       </div>
    </div>
    <div class="row Soft Skills">
      <div class="col-4">
        <circle-progress
         [percent]="85"
         [radius]="85"
         [title]="'Comunicación'"
         [titleFontSize]="'0.9em'"
         [titleColor]="'negro'"
         [subtitleFontSize]="'0.85em'"
         [subtitleColor]="'negro'"
         [unitsFontSize]="'1em'"
         [outerStrokeWidth]="20"
         [innerStrokeWidth]="10"
         [outerStrokeColor]="'#981CEB'"
         [innerStrokeColor]="'#D29DFB'"
         [animation]="true"
         [animationDuration]="700"
         [responsive]="true"
        ></circle-progress>
      </div>
     <div class="col-4">
        <circle-progress
         [percent]="90"
         [radius]="85"
         [title]="'Adaptabilidad'"
         [titleFontSize]="'0.9em'"
         [titleColor]="'negro'"
         [subtitleFontSize]="'0.85em'"
         [subtitleColor]="'negro'"
         [unitsFontSize]="'1em'"
         [outerStrokeWidth]="20"
         [innerStrokeWidth]="10"
         [outerStrokeColor]="'#981CEB'"
         [innerStrokeColor]="'#D29DFB'"
         [animation]="true"
         [animationDuration]="700"
         [responsive]="true"
         ></circle-progress>
      </div>
     <div class="col-4">
        <circle-progress
         [percent]="80"
         [radius]="85"
         [title]="'Liderazgo'"
         [titleFontSize]="'0.9em'"
         [titleColor]="'negro'"
         [subtitleFontSize]="'0.85em'"
         [subtitleColor]="'negro'"
         [unitsFontSize]="'0.9em'"
         [outerStrokeWidth]="20"
         [innerStrokeWidth]="10"
         [outerStrokeColor]="'#981CEB'"
         [innerStrokeColor]="'#D29DFB'"
         [animation]="true"
         [animationDuration]="700"
         [responsive]="true"
        ></circle-progress>
      </div>
   </div>
</div>
