<div class="container antecedentes">
 <h2>Experiencia en Desarrollo Web</h2>
     <h5>Desarrollo FrontEnd y BackEnd:</h5>
       <li>El presente Portfolio</li>
 <h2>Otras</h2>
     <h5>Fuerza Aérea Argentina:</h5>
       <p>Poseo 17 años de experiencia laboral en esta área y si bien, dicha actividad no se encuentra relacionada con el Desarrollo Web, me ha permitido desarrollar diversas Habilidades Blandas, utiles en cualquier ámbito de trabajo.</p>
 <h2>Educación</h2>
     <h5>Curso Argentina Programa 4.0: FullStack Developer Junior</h5>
     <ul>
        <li>Curso Sé Programar</li>
        <li>Curso Yo Programo</li>
     </ul>
</div>
