<div class="logos">
    <img class="align-left img-fluid" id="logo-AP" src="./../../../assets/APLogo.png">
    <a href="https://github.com/DCarolia" target="_blank"><img class="align-right img-fluid redes" id="github" src="../../../assets/github.png"></a>
    <a href="https://www.facebook.com/" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/facebook.png"></a>
    <a href="https://www.linkedin.com/in/carolina-dominguez-b98910263/" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/linkedin.png"></a>
    <a href="https://www.instagram.com/dominguez_caro_/" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/instagram.png"></a>
</div>
