.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(180, 132, 224);
    border-radius: 5px;
 }

 .redes{
   width: 14%;
}

#instagram{
   margin-right: 2%;
}

button{
   background: white;
   width: 6.5em;
   height: 2.5em;
   border-radius: 15%;
}


@media (min-width: 576px) {
   #logo{
      width: 60%;
      height: 60%;
   }
}
 
@media (max-width: 415px) {
   button{
      width: 3.5em;
      height: 2.1em;
      margin-right: -5%;
      padding: 0%;
   }

   #instagram{
      margin-right: 0%;
   }
}