<div class="logos">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img class="align-left img-fluid" id="logo" src="./../../../assets/APLogo.png">
    </div>
    <div class="col-9 col-sm-8 col-md-7 col-lg-4" id="derecha">
        <a href="https://github.com/DCarolia" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/github.png"></a>
        <a href="https://www.facebook.com/" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/facebook.png"></a>
        <a href="https://www.linkedin.com/in/carolina-dominguez-b98910263/" target="_blank"><img class="align-right img-fluid redes" src="../../../assets/linkedin.png"></a>
        <a href="https://www.instagram.com/dominguez_caro_/" target="_blank"><img class="align-right img-fluid redes" id="instagram" src="../../../assets/instagram.png"></a>
        <button type="button" class="btn btn-outline-primary">Login</button>
    </div>
</div>
